@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
root{

    --colorPrincipal: #00669c;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


head{

    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;


}

body{

    /*padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;*/
    min-height: 100vh;
    background: linear-gradient(#F1FAFF, #CBE4FF);

}


.barraLateral{

    /* background-color: #00669c;
    width: 300px;
    height: 1000px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px; 
    position: fixed;*/
    width: 270px;
     margin: 16px;
    border-radius: 16px;
    background-color: #00669c;
    height: calc(100vh - 32px);
    transition: all 0.4s ease;
    
    

}

.barraLateral.collapsed {
  width: 85px;
}

.barralateral .barralateral-header {
  display: flex;
  position: relative;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
}

.barralateral-header .a-logo img{
    
    /*position: relative; /* Se usa para que no se salga la imagen de la caja, ya que la imagen tiene position absolute 
    background-color: #00669c;
    width: 100%;
    height: 200px;*/
    width: 46px;
    height: 46px;
    display: block;
    object-fit: contain;
    border-radius: 50%;

    
}

.sidebar-header .toggler {
  height: 35px;
  width: 35px;
  color: #151A2D;
  border: none;
  cursor: pointer;
  display: flex;
  background: #fff;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: 0.4s ease;
}

#div-opcs{
    
    align-content: center;
    
    

    
}


.li-opc{

    display: flex;
    width: 100%;
    height: 70px;
    /*gap: 10px; /* Espacio entre el icono y el texto */
    cursor: pointer;
    color:white;

    
    
}

.li-opc:hover{
    background-color: black;
    color:white;
    transition-duration: 0.4s;
    
    
}




i{
    width: 40%;
    height: 70px;
    text-align: center;
    align-content: center;
    font-size: x-large;
    
   
}


    
.a-opc-lateral{

    width: 50%;
    height: 70px;
    text-align: left;
    align-content: center;
    font-size: large;
   
    
    
}

