
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root{

    --colorPrincipal: #00669c;
    --colorSecundario: #151A2D;
    --ColorTerciario: green;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {

  min-height: 100vh;
  background: linear-gradient(#F1FAFF, #CBE4FF);
  display: flex;
  
}


.sidebar {
  position: fixed;
  width: 270px;
  margin: 16px;
  border-radius: 16px;
  background: var(--colorSecundario);
  height: calc(100vh - 32px);
  transition: all 0.4s ease;
}
.sidebar.collapsed {
  width: 85px;
}
.sidebar .sidebar-header {
  display: flex;
  position: relative;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
}
.sidebar-header .header-logo img {
  width: 46px;
  height: 46px;
  display: block;
  object-fit: contain;
  border-radius: 50%;
}
.sidebar-header .toggler {
  height: 35px;
  width: 35px;
  color: var(--colorSecundario);
  border: none;
  cursor: pointer;
  display: flex;
  background: #fff;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: 0.4s ease;
}
.sidebar-header .sidebar-toggler {
  position: absolute;
  right: 20px;
}
.sidebar-header .menu-toggler {
  display: none;
}
.sidebar.collapsed .sidebar-header .toggler {
  transform: translate(-4px, 65px);
}
.sidebar-header .toggler:hover {
  background: #dde4fb;
}
.sidebar-header .toggler span {
  font-size: 1.75rem;
  transition: 0.4s ease;
}
.sidebar.collapsed .sidebar-header .toggler span {
  transform: rotate(180deg);
}
.sidebar-nav .nav-list {
  list-style: none;
  display: flex;
  gap: 4px;
  padding: 0 15px;
  flex-direction: column;
  transform: translateY(15px);
  transition: 0.4s ease;
}
.sidebar.collapsed .sidebar-nav .primary-nav {
  transform: translateY(65px);
}
.sidebar-nav .nav-link {
  color: #fff;
  display: flex;
  gap: 12px;
  white-space: nowrap;
  border-radius: 8px;
  padding: 12px 15px;
  align-items: center;
  text-decoration: none;
  transition: 0.4s ease;
}
.sidebar.collapsed .sidebar-nav .nav-link {
  border-radius: 12px;
}
.sidebar .sidebar-nav .nav-link .nav-label {
  transition: opacity 0.3s ease;
}
.sidebar.collapsed .sidebar-nav .nav-link .nav-label {
  opacity: 0;
  pointer-events: none;
}
.sidebar-nav .nav-link:hover {
  color: var(--colorSecundario);
  background: #fff;
}
.sidebar-nav .nav-item {
  position: relative;
}
.sidebar-nav .nav-tooltip {
  position: absolute;
  top: -10px;
  opacity: 0;
  color: #151A2D;
  display: none;
  pointer-events: none;
  padding: 6px 12px;
  border-radius: 8px;
  white-space: nowrap;
  background: #fff;
  left: calc(100% + 25px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0s;
}
.sidebar.collapsed .sidebar-nav .nav-tooltip {
  display: block;
}
.sidebar-nav .nav-item:hover .nav-tooltip {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(50%);
  transition: all 0.4s ease;
}
.sidebar-nav .secondary-nav {
  position: absolute;
  bottom: 30px;
  width: 100%;
}
/* Responsive media query code for small screens */
@media (max-width: 1024px) {
  .sidebar {
    height: 56px;
    margin: 13px;
    overflow-y: hidden;
    scrollbar-width: none;
    width: calc(100% - 26px);
    max-height: calc(100vh - 26px);
  }
  .sidebar.menu-active {
    overflow-y: auto;
  }
  .sidebar .sidebar-header {
    position: sticky;
    top: 0;
    z-index: 20;
    border-radius: 16px;
    background: var(--colorSecundario);
    padding: 8px 10px;
  }
  .sidebar-header .header-logo img {
    width: 40px;
    height: 40px;
  }
  .sidebar-header .sidebar-toggler,
  .sidebar-nav .nav-item:hover .nav-tooltip {
    display: none;
  }
  
  .sidebar-header .menu-toggler {
    display: flex;
    height: 30px;
    width: 30px;
  }
  .sidebar-header .menu-toggler span {
    font-size: 1.3rem;
  }
  .sidebar .sidebar-nav .nav-list {
    padding: 0 10px;
  }
  .sidebar-nav .nav-link {
    gap: 10px;
    padding: 10px;
    font-size: 0.94rem;
  }
  .sidebar-nav .nav-link .nav-icon {
    font-size: 1.37rem;
  }
  .sidebar-nav .secondary-nav {
    position: relative;
    bottom: 0;
    margin: 40px 0 30px;
  }
}


/* ...existing code... */

.main-content {
  margin-left: 290px; /* Un poco más que el ancho de la sidebar (270px) */
  padding: 32px;
  width: calc(100% - 290px);
  min-height: 100vh;
  box-sizing: border-box;
  transition: all 0.4s ease;
  
}



.styled-table {
  border-collapse: collapse;
  width: 100%;
  margin: 25px 0;
  font-size: 1rem;
  min-width: 700px;
  background: var(--colorSecundario);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  overflow-x: auto;
  
}
.styled-table th, .styled-table td {
  padding: 12px 16px;
  text-align: left;
  
}

.styled-table thead{
  background-color: var(--colorPrincipal);
  text-align: left;
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 12px;
  color: #ffffff;
  height: 50px;
}
/*.styled-table tbody{
}*/
 

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
  background: #ffffff;
}
.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid var(--colorSecundario);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

/*Bordes redondos de la tabla*/

.styled-table tr:last-child td:first-child {
  border-bottom-left-radius: 12px;
}
.styled-table tr:last-child td:last-child {
  border-bottom-right-radius: 12px;
}

/* ...existing code... */

/* ...tablas responsivas... */
@media (max-width: 900px) {
  .main-content {
    margin-left: 0;
    width: 100%;
    padding: 12px;
  }
  .styled-table {
    min-width: 500px;
    font-size: 0.95rem;
  }
}

.addBtn{

  position: relative;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  color: black;
  background-color: black;
  border: 2px solid var(--ColorTerciario);
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
}


.liquid {
  background: linear-gradient(var(--ColorTerciario) 0 0) no-repeat calc(200% - var(--p, 0%))
    100% / 200% var(--p, 0.2em);
  transition: 0.15s var(--t, 0s),
    background-position 0.15s calc(0.15s - var(--t, 0s));
}


.liquid:hover {
  --p: 100%;
  --t: 0.15s;
  color: #fff;
}


.modal {
  display: none;                /* Oculta el modal por defecto */
  position: fixed;              /* El modal se posiciona fijo respecto a la ventana del navegador */
  z-index: 1000;                /* Se asegura de que esté por encima de otros elementos */
  left: 0; top: 0;              /* Lo coloca en la esquina superior izquierda */
  width: 100%; height: 100%;    /* Ocupa toda la pantalla */
  overflow: auto;               /* Si el contenido es muy grande, permite hacer scroll */
  background-color: rgba(0,0,0,0.4); /* Fondo semitransparente oscuro para dar efecto de superposición */
}
.modal-content {
  background-color: #fff;        /* Fondo blanco para el contenido del modal */
  margin: 4% auto;               /* Centra el modal verticalmente (10% desde arriba) y horizontalmente (auto) */
  padding: 20px;                  /* Espacio interno alrededor del contenido */
  border-radius: 8px;             /* Bordes redondeados */
  width: 90%;                     /* Ocupa el 90% del ancho de la pantalla */
  max-width: 500px;               /* Pero nunca más de 500px de ancho */
  position: relative;             /* Permite posicionar elementos hijos de forma absoluta (como el botón de cerrar) */
}

.close {
  color: #aaa;          /* Color gris claro para el ícono/texto de cerrar */
  position: absolute;     /* Posiciona el elemento de forma absoluta dentro de su contenedor */
  right: 16px;            /* Lo coloca a 16 píxeles del borde derecho del contenedor */
  top: 8px;               /* Lo coloca a 8 píxeles del borde superior del contenedor */
  font-size: 28px;        /* Tamaño grande para que sea visible y fácil de clicar */
  font-weight: bold;      /* Hace el símbolo más grueso */
  cursor: pointer;        /* Cambia el cursor a una mano para indicar que es clickeable */
}

h2{
  text-align: center;
}
.close:hover { color: #000; }

#form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 8px 0;
  
}
#form input[type="text"],
#form input[type="date"],
#form input[type="number"],
#form select {
  padding: 12px 14px;
  border: 1px solid #cbe4ff;
  border-radius: 6px;
  font-size: 1rem;
  background: #f7fbff;
  color: #222;
  transition: border-color 0.2s, box-shadow 0.2s;
}

/* Ejemplo para personalizar el desplegable */
option::picked {
  background-color: var(--colorSecundario);
  color: #fff;
}


#form input:focus {
  border-color: var(--colorPrincipal);
  box-shadow: 0 0 0 2px rgba(0,102,156,0.15);
  outline: none;
}
#form button[type="submit"] {
  padding: 12px 0;
  background: var(--colorSecundario);
  color: #fff;
  font-size: 1.05rem;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s, box-shadow 0.2s;
  box-shadow: 0 2px 8px rgba(0,102,156,0.08);
}
#form button[type="submit"]:hover {
  box-shadow: 0 4px 16px rgba(0,102,156,0.15);
  text-shadow: 0 0 8px #ffffff;
} 

.inputError{
  outline: 2px solid red;
  animation: horizontal-shaking 0.3s ease;
}

@keyframes horizontal-shaking {
 0% { transform: translateX(0) }
 25% { transform: translateX(5px) }
 50% { transform: translateX(-5px) }
 75% { transform: translateX(5px) }
 100% { transform: translateX(0) }
}

.inputOk{
  outline: 2px solid green;
}

.selectError {
  outline: 2px solid red;
  animation: horizontal-shaking 0.3s ease;
}

.selectOk{
  outline: 2px solid green;
}